#access {
    background-color: #a193861f;
    padding-bottom: 7rem;
    .container {
        padding-bottom: 0;
    }
    .access-wrapper {
        display: flex;
        justify-content: space-between;
        @include tab {
            flex-direction: column-reverse;
        }
        .access-text {
            width: 40%;
            padding: 10rem;
            background-color: #d0c5ba;
            @include tab {
                width: 100%;
                padding: 3rem 2rem 6rem;
            }
            h5 {
                line-height: 1;
                font-size: 2.4rem;
                font-weight: bold;
                font-family: 'Roboto Mono', system-ui;
                color: #00000038;
                margin-bottom: 3rem;
            }
            p {
                color: #fff;
                font-family: 'Roboto Mono', system-ui;
                &:not(:last-child) {
                    margin-bottom: 2.4rem;
                }
            }
        }
        .access-map {
            width: 60%;
            @include tab {
                width: 100%;
                height: 23rem;
            }
        }
    }
}
