#footer {
    .container {
        padding-top: 24.8rem;
        padding-bottom: 6.2rem;
        @include tab {
            padding-top: 12.4rem;
            padding-bottom: 2rem;
        }
        .footer-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            @include tab {
                flex-direction: column-reverse;
                row-gap: 6rem;
            }
            &::before {
                display: block;
                content: '';
                position: absolute;
                width: 100%;
                height: 1px;
                background-color: #7070704d;
                top: -8rem;
                @include tab {
                    top: -6.2rem;
                }
            }

            .footer-left {
                display: flex;
                align-items: center;
                gap: 2.6rem;
                @include tab {
                    width: 100%;
                    justify-content: space-between;
                    gap: 0;
                }
                p {
                    font-size: 3.2rem;
                    color: #7070704d;
                    font-family: 'Roboto Mono', system-ui;
                    @include tab {
                        font-size: 1.8rem;
                    }
                }
                .sns {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    font-size: 2rem;
                }
            }
            .footer-right {
                p {
                    font-size: 1.8rem;
                    font-family: 'Roboto Mono', system-ui;
                    color: #707070;
                    padding: 1rem 4rem;
                    border: 1px solid #707070;
                    line-height: 1;
                }
            }
        }
    }
}
